@page "/product-single"
<!-- Page title -->
<section class="py-6">
    <div class="container">

        <!-- Breadcrumb -->
        <nav class="mb-2" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#!">Home</a></li>
                <li class="breadcrumb-item"><a href="#!">Speakers</a></li>
                <li class="breadcrumb-item">
                    <a href="#!">Portable</a>
                    <svg class="text-primary" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                </li>
            </ol>
        </nav>

        <!-- Title -->
        <h1 class="h2">Audiophile sport wireless react</h1>

    </div>
</section>


<section class="pt-0">
    <div class="container">

        <div class="row g-5">
            <div class="col-md-6 col-lg-7">

                <!-- Main Carousel -->
                <div class="embla border border-light rounded mb-2" data-embla='{
                  "slidesToScroll":   1,
                  "loop":             true,
                  "dragFree":         false,
                  "autoPlay":         0,
                  "thumbCarouselId":  "embla-thumb-bottom"
            }'>
                    <div class="embla__viewport">
                        <div class="embla__container">
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/9-min.jpg" alt="...">
                                </span>
                            </div>
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/9-min.jpg" alt="...">
                                </span>
                            </div>
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/9-min.jpg" alt="...">
                                </span>
                            </div>
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/1_4-min.jpg" alt="...">
                                </span>
                            </div>
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/1_5-min.jpg" alt="...">
                                </span>
                            </div>
                            <div class="embla__slide ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/1_6-min.jpg" alt="...">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Thumb Carousel -->
                <div id="embla-thumb-bottom" class="embla embla--thumb mt-1">
                    <div class="embla__viewport">

                        <div class="embla__container embla__container--thumb">
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1-min.jpg" alt="...">
                                </button>
                            </div>
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1_2-min.jpg" alt="...">
                                </button>
                            </div>
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1_3-min.jpg" alt="...">
                                </button>
                            </div>
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1_4-min.jpg" alt="...">
                                </button>
                            </div>
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1_5-min.jpg" alt="...">
                                </button>
                            </div>
                            <div class="embla__slide embla__slide--thumb">
                                <button class="embla__slide__inner--thumb" type="button">
                                    <img class="embla__slide__thumbnail" src="../demo.files/images/products/speakers/thumb/1_6-min.jpg" alt="...">
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col">

                <!-- price -->
                <div class="mb-4">
                    <p class="mb-0 text-muted text-uppercase">SKU: RX-078R99</p>
                    <h3 class="mb-0 d-inline-grid gap-auto-3">
                        <del class="fw-normal text-muted">168.99</del>
                        <span class="fw-bold">$128<sup>99</sup></span>
                    </h3>
                </div>

                <!-- gift -->
                <div class="position-relative mb-4 p-3 border border-light rounded d-flex align-items-center">
                    <small class="position-absolute top-0 end-0 text-muted mx-2 my-1">limited, 3 left</small>
                    <img class="flex-none" height="50" src="../demo.files/images/products/speakers/gift-min.jpg" alt="...">
                    <div class="w-100 px-3">
                        <h3 class="h6 mb-0">Your Gift</h3>
                        <p class="mb-0">Speaker bag, limited edition.</p>
                    </div>
                </div>

                <!-- shipping/return -->
                <div class="accordion border border-light bg-white rounded mb-4" id="accordion-product">
                    <div class="accordion-item border-bottom border-light">
                        <h2 class="accordion-header" id="accordion-product-1">
                            <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-product-collapse-1" aria-expanded="false" aria-controls="accordion-product-collapse-1">
                                <svg class="text-gray-500" width="2.3rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" fill="currentColor">
                                    <path d="M612 338.19v55.625c0 13.877-11.249 25.125-25.126 25.125h-26.885c-4.857-33.332-33.585-58.961-68.259-58.961-34.59 0-63.317 25.629-68.175 58.961h-228.393c-4.857-33.332-33.585-58.961-68.175-58.961s-63.318 25.629-68.175 58.961h-33.669c-13.876 0-25.125-11.248-25.125-25.125v-55.625h611.982zm-438.933-134.232h-14.313l-5.259 27.155h13.945c9.292 0 16.996-6.363 16.996-17.004 0-6.478-4.277-10.151-11.369-10.151zm370.825 224.949c0 28.729-23.367 52.094-52.095 52.094-28.811 0-52.178-23.367-52.178-52.094 0-28.811 23.367-52.178 52.178-52.178 28.727 0 52.095 23.368 52.095 52.178zm-26.047 0c0-14.404-11.726-26.047-26.047-26.047-14.405 0-26.048 11.643-26.048 26.047 0 14.322 11.643 26.049 26.048 26.049 14.321 0 26.047-11.727 26.047-26.049zm-338.782 0c0 28.729-23.283 52.094-52.094 52.094s-52.094-23.367-52.094-52.094c0-28.811 23.284-52.178 52.094-52.178s52.094 23.368 52.094 52.178zm-26.046 0c0-14.404-11.642-26.047-26.046-26.047-14.406 0-26.047 11.643-26.047 26.047 0 14.322 11.642 26.049 26.047 26.049 14.404 0 26.046-11.727 26.046-26.049zm458.965-104.605h-611.982v-168.177c0-13.903 11.307-25.125 25.125-25.125h379.736c13.903 0 25.126 11.223 25.126 25.125v18.678h49.833c8.794 0 17.253 3.518 23.534 9.715l98.745 97.656c6.281 6.282 9.883 14.824 9.883 23.786v18.342zm-522.798-95.757l4.646-24.586h34.245l2.568-13.577h-49.777l-16.881 86.837h15.655l6.854-35.104h28.863l2.568-13.569h-28.741zm91.588 12.104v-.246c13.086-4.278 19.81-17.118 19.81-28.986 0-8.923-4.4-15.655-11.745-18.837-3.541-1.586-7.828-2.2-12.473-2.2h-30.696l-16.874 86.836h15.769l6.241-32.413h15.655l11.009 32.413h16.874l-11.614-32.168c-1.105-3.172-1.956-4.399-1.956-4.399zm96.341-50.268h-51.854l-16.996 86.837h53.932l2.568-13.577h-38.155l4.523-23.359h29.231l2.691-13.577h-29.231l4.4-22.746h36.201l2.69-13.578zm70.061 0h-51.855l-16.996 86.837h53.933l2.567-13.577h-38.155l4.523-23.359h29.231l2.691-13.577h-29.232l4.401-22.746h36.2l2.692-13.578zm214.557 88.274l-77.305-73.787c-.754-.669-1.759-1.088-2.764-1.088h-18.174c-2.178 0-3.937 1.759-3.937 3.937v73.787c0 2.178 1.759 3.936 3.937 3.936h95.562c3.518-.001 5.277-4.356 2.681-6.785z"></path>
                                </svg>
                                <span class="d-inline-block px-3">Free shipping</span>
                            </button>
                        </h2>
                        <div id="accordion-product-collapse-1" class="accordion-collapse collapse border-0" aria-labelledby="accordion-product-1" data-bs-parent="#accordion-product">
                            <p class="accordion-body mb-0 py-3">
                                We offer free shipping to all orders over $30, anywhere in USA.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="accordion-product-2">
                            <button class="accordion-button collapsed border-0" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-product-collapse-2" aria-expanded="false" aria-controls="accordion-product-collapse-2">
                                <svg class="text-gray-500" width="2.3rem" xmlns="http://www.w3.org/2000/svg" viewBox="-21 -21 682.66714 682" fill="currentColor">
                                    <path d="M445.258 572.344c-4.07-9.844-15.352-14.516-25.188-10.445-9.84 4.074-14.52 15.352-10.441 25.195l12.309 29.742c4.074 9.844 15.359 14.512 25.191 10.438 9.84-4.07 14.516-15.352 10.445-25.188zm0 0M194.742 68.32c3.074 7.426 10.258 11.914 17.82 11.914 13.684 0 23.074-13.949 17.813-26.664l-12.313-29.742c-4.074-9.84-15.352-14.512-25.191-10.438-9.84 4.07-14.516 15.352-10.438 25.188zm0 0M420.07 78.762c9.848 4.074 21.121-.605 25.188-10.441l12.316-29.742c4.07-9.836-.605-21.117-10.445-25.188-9.84-4.078-21.117.598-25.191 10.438l-12.309 29.742c-4.078 9.84.602 21.117 10.441 25.191zm0 0M219.934 561.898c-9.84-4.07-21.121.602-25.191 10.445l-12.316 29.742c-4.07 9.836.605 21.117 10.445 25.188 9.84 4.078 21.117-.605 25.191-10.438l12.309-29.742c4.078-9.844-.594-21.117-10.438-25.195zm0 0M613.309 420.961l-26.535-11c-9.84-4.078-21.121.59-25.195 10.43-4.082 9.84.59 21.117 10.422 25.195l26.539 11c9.855 4.082 21.125-.602 25.199-10.43 4.078-9.832-.59-21.117-10.43-25.195zm0 0M26.691 219.703l26.543 11c9.844 4.078 21.117-.602 25.195-10.43 4.074-9.84-.594-21.117-10.43-25.195l-26.543-11c-9.836-4.078-21.121.59-25.195 10.43-4.078 9.832.59 21.117 10.43 25.195zm0 0M586.773 230.703l26.535-11c9.836-4.078 14.508-15.363 10.426-25.195-4.078-9.84-15.355-14.508-25.195-10.43l-26.539 11c-9.836 4.078-14.504 15.355-10.43 25.195 4.082 9.84 15.363 14.508 25.203 10.43zm0 0M53.234 409.961l-26.543 11c-9.84 4.078-14.508 15.355-10.43 25.195 4.082 9.84 15.359 14.508 25.199 10.43l26.539-11c9.836-4.078 14.504-15.355 10.43-25.195-4.082-9.836-15.359-14.508-25.195-10.43zm0 0M338.305 275.043v-48.793c0-9.652-3.559-13.77-11.918-13.77-8.223 0-11.734 4.117-11.734 13.77v48.793c0 9.645 3.512 13.754 11.734 13.754 8.359 0 11.918-4.109 11.918-13.754zm0 0M190.41 424.969v-37.316c0-7.441-2.867-10.773-9.316-10.773h-9.18v58.848h9.18c6.449 0 9.316-3.316 9.316-10.758zm0 0M363.422 415.844h11.504l-5.742-21.109zm0 0M632.918 305.41l-93.113-76.129 12.016-119.66c1.215-12.121-8.988-22.324-21.109-21.109l-119.66 12.016-76.125-93.113c-7.754-9.5-22.219-9.383-29.848 0l-76.129 93.113-119.66-12.016c-12.121-1.215-22.324 8.988-21.109 21.109l12.016 119.66-93.113 76.129c-9.441 7.676-9.445 22.164 0 29.848l93.113 76.125-12.016 119.66c-1.215 12.121 8.988 22.324 21.109 21.109l119.66-12.016 76.129 93.113c7.641 9.402 22.105 9.484 29.848 0l76.125-93.113 119.66 12.016c12.121 1.215 22.324-8.988 21.109-21.109l-12.016-119.66 93.113-76.125c9.441-7.68 9.445-22.168 0-29.848zm-247.047 150.465l-4.207-15.457h-24.832l-4.164 15.324c-4.18 13.359-31.961 5.273-28.516-8.473l26.84-88.051c4.09-13.32 32.176-13.613 36.352-.016h.016l26.941 87.891c3.496 14.074-24.344 21.906-28.43 8.781zm-100.527-61.926c13.742 0 13.973 24.566 0 24.566h-17.969v17.211h34.973c13.961 0 13.836 26.879 0 26.879h-51.297c-6.469 0-13.438-3.301-13.438-10.551v-91.488c0-7.262 6.969-10.566 13.438-10.566h51.297c14.117 0 13.73 26.879 0 26.879h-34.973v17.07zm-129.754-43.949h25.504c25.207 0 39.094 13.367 39.094 37.652v37.316c0 24.27-13.887 37.637-39.094 37.637h-25.504c-8.816 0-13.438-5.227-13.438-10.41v-91.781c0-5.172 4.621-10.414 13.438-10.414zm68-41.441v-45.25h-27.328v45.25c0 18.008-38.039 17.992-38.039 0v-117.117c0-17.715 38.039-17.934 38.039 0v40.461h27.328v-40.461c0-17.715 38.035-17.973 38.035 0v117.117c0 18.109-38.035 17.813-38.035 0zm53.027-33.516v-48.793c0-31.031 17.676-48.113 49.77-48.113 32.219 0 49.957 17.082 49.957 48.113v48.793c0 31.02-17.738 48.117-49.957 48.117-32.094 0-49.77-17.098-49.77-48.117zm117.543-96.906h79.547c17.855 0 17.75 35.09 0 35.09h-20.762v95.332c0 17.988-38.039 18.008-38.039 0v-95.332h-20.746c-17.699 0-17.887-35.09 0-35.09zm93.516 257.59c13.566 0 13.551 26.879 0 26.879h-45.516c-6.48 0-13.449-3.301-13.449-10.551v-91.641c0-13.871 29.762-14.027 29.762 0v75.313zm0 0"></path>
                                </svg>
                                <span class="d-inline-block px-3">30 days return</span>
                            </button>
                        </h2>
                        <div id="accordion-product-collapse-2" class="accordion-collapse collapse border-0" aria-labelledby="accordion-product-2" data-bs-parent="#accordion-product">
                            <p class="accordion-body mb-0 py-3">
                                You can return your urchased product anytime you want within 30 days.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- add to cart -->
                <div class="py-4 d-flex">
                    <input type="number" value="1" min="1" max="9999" class="flex-none form-control rounded-pill w-auto text-center float-start">
                    <div class="d-grid w-100 ms-3">
                        <button type="submit" class="btn btn-primary rounded-pill flex-none">Add to cart</button>
                    </div>
                </div>

                <!-- help/chat trigger -->
                <div class="py-3 text-end">
                    <p class="d-inline-grid gap-auto-3">
                        <span class="text-gray-600">
                            Need help? <a href="#!" class="link-secondary text-dashed">Chat with us</a>
                        </span>
                        <svg class="text-gray-500" height="28px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.052 512.052" fill="currentColor">
                            <path d="M208.026,16.026c-114.7,0-208,78.9-208,176c0,39.8,15.7,77.9,44.5,108.9l-39.8,39.8c-4.6,4.6-6,11.5-3.5,17.4c2.5,6,8.3,9.9,14.8,9.9h192c114.7,0,208-78.9,208-176S322.726,16.026,208.026,16.026z" />
                            <path opacity="0.5" d="M467.526,428.926c28.8-30.9,44.5-69.1,44.5-108.9c0-49.8-24.6-94.9-64-126.9c-0.9,114.1-108.2,206.9-240,206.9h-89.2c34.5,56.9,104.6,96,185.2,96h192c6.5,0,12.3-3.9,14.8-9.9c2.5-6,1.1-12.9-3.5-17.4L467.526,428.926z" />
                            <path fill="#ffffff" d="M304.026,144.026h-192c-8.8,0-16,7.2-16,16s7.2,16,16,16h192c8.8,0,16-7.2,16-16S312.826,144.026,304.026,144.026z" />
                            <path fill="#ffffff" d="M240.026,208.026h-128c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S248.826,208.026,240.026,208.026z" />
                        </svg>
                    </p>
                </div>

            </div>

        </div>

    </div>
</section>


<!-- specifications -->
<section class="pt-0">
    <div class="container">

        <div class="mb-5">
            <!-- section : title -->
            <span class="d-inline-grid gap-auto-2 text-primary">
                <span>SPECS &amp; TECHNICAL</span>
                <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </span>

            <h2>Specifications</h2>
        </div>

        <h3 class="h5">General</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="text-muted w-50">Type</td>
                        <td>Sport</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Technology</td>
                        <td>Wireless</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Connectors</td>
                        <td>Bluetooth</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Functions</td>
                        <td>Water resistant, fast charge, Siri &amp; Google Assistant, Hand-Free, Ambiental Sound, Cardiac sensor</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3 class="h5">Detail</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td class="text-muted w-50">Color</td>
                        <td>Black</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Frequency</td>
                        <td>20 - 20000 Hz</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Length</td>
                        <td>10m</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Full recharge</td>
                        <td>2 hours</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Operation time</td>
                        <td>10 hours</td>
                    </tr>
                    <tr>
                        <td class="text-muted w-50">Weight</td>
                        <td>16.5 g</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="#!" class="link-secondary text-dashed">More by JBL</a>

    </div>
</section>
<!-- reviews -->
<section>
    <div class="container">

        <div class="mb-5">
            <!-- section : title -->
            <span class="d-inline-grid gap-auto-2 text-primary">
                <span>FEEDBACKS</span>
                <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </span>

            <h2>Customer Review</h2>
        </div>

        <div class="row g-4 g-lg-5">

            <!-- sidebar -->
            <div class="col-lg-4">

                <div class="bg-gray-900 rounded px-3 py-5 mb-4 text-white d-flex align-items-center justify-content-center">
                    <h3 class="float-none display-4 fw-normal px-2 m-0">4.39</h3>
                    <div class="px-2 lh-1">
                        <div class="d-inline-grid gap-auto-1 mb-1">
                            <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                            </svg>
                            <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                            </svg>
                            <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                            </svg>
                            <svg width="18px" height="18px" viewBox="0 0 536 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path d="m508.55 171.51-146.37-21.31-65.41-132.39c-5.88-11.83-17.35-17.81-28.82-17.81-11.4 0-22.79 5.9-28.69 17.81l-65.43 132.38-146.38 21.29c-26.25 3.8-36.77 36.09-17.74 54.59l105.89 103-25.06 145.48c-3.56 20.78 13.03 37.45 31.61 37.45 4.93 0 10-1.17 14.87-3.75l130.95-68.68 130.94 68.7c4.86 2.55 9.92 3.71 14.83 3.71 18.6 0 35.22-16.61 31.66-37.4l-25.03-145.49 105.91-102.98c19.04-18.5 8.52-50.8-17.73-54.6zm-121.74 123.2-18.12 17.62 4.28 24.88 19.52 113.45-102.13-53.59-22.38-11.74.03-317.19 51.03 103.29 11.18 22.63 25.01 3.64 114.23 16.63z"></path>
                            </svg>
                            <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path d="m528.1 171.5-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0l-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zm-139.5 140.8 23.7 138.4-124.3-65.3-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2z"></path>
                            </svg>
                        </div>
                        <p class="fs-6 mb-0">172 reviews</p>
                    </div>
                </div>

                <div class="d-none d-lg-block px-4 py-4 bg-gray-100 rounded">

                    <div class="row g-1 d-flex align-items-center justify-content-center position-relative">
                        <a href="#" class="order-1 col-md-6 col-lg-3 text-decoration-none link-muted stretched-link">5 stars</a>
                        <div class="order-1 order-lg-3 col-md-6 col-lg-2 text-end">122</div>
                        <div class="order-3 order-lg-2 1 col">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-1 d-flex align-items-center justify-content-center position-relative">
                        <a href="#" class="order-1 col-md-6 col-lg-3 text-decoration-none link-muted stretched-link">4 stars</a>
                        <div class="order-1 order-lg-3 col-md-6 col-lg-2 text-end">91</div>
                        <div class="order-3 order-lg-2 1 col">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 77%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-1 d-flex align-items-center justify-content-center position-relative">
                        <a href="#" class="order-1 col-md-6 col-lg-3 text-decoration-none link-muted stretched-link">3 stars</a>
                        <div class="order-1 order-lg-3 col-md-6 col-lg-2 text-end">12</div>
                        <div class="order-3 order-lg-2 1 col">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-1 d-flex align-items-center justify-content-center position-relative">
                        <a href="#" class="order-1 col-md-6 col-lg-3 text-decoration-none link-muted stretched-link">2 stars</a>
                        <div class="order-1 order-lg-3 col-md-6 col-lg-2 text-end">3</div>
                        <div class="order-3 order-lg-2 1 col">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row g-1 d-flex align-items-center justify-content-center position-relative">
                        <a href="#" class="order-1 col-md-6 col-lg-3 text-decoration-none link-muted stretched-link">1 stars</a>
                        <div class="order-1 order-lg-3 col-md-6 col-lg-2 text-end">1</div>
                        <div class="order-3 order-lg-2 1 col">
                            <div class="progress" style="height: 8px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 1%" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!-- review list -->
            <div class="col-lg-8">

                <!-- filters, buttons -->
                <div class="d-flex justify-content-between align-items-center mb-3">

                    <div class="position-relative">
                        <a id="ratingSort" href="#" class="text-gray-700 text-decoration-none d-inline-grid gap-auto-2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>Popular First</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="6 9 12 15 18 9"></polyline>
                            </svg>
                        </a>

                        <ul class="dropdown-menu min-w-auto shadow-lg p-3" aria-labelledby="ratingSort">
                            <li><a class="dropdown-item active" href="#">Popular First</a></li>
                            <li><a class="dropdown-item" href="#">Newest First</a></li>
                            <li class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Most Helpful</a></li>
                        </ul>
                    </div>

                    <div class="position-relative">
                        <a href="#!" class="btn btn-primary border-0 rounded-pill">
                            <svg height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M12 20h9"></path>
                                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
                            </svg>
                            <small>write a review</small>
                        </a>
                    </div>

                </div>

                <!-- review -->
                <div class="border border-light rounded mb-4 p-4">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="avatar avatar-lg rounded-circle" style="background-image:url(../demo.files/images/avatar/jessica_barden.jpg)"></div>
                            <p class="text-gray-900">
                                <span class="d-block fw-medium">Jessica Barden</span>
                                <span class="d-block small text-muted">about 2 weeks ago</span>
                                <span class="d-block small">
                                    <span class="text-success">
                                        <svg height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <polyline points="20 6 9 17 4 12"></polyline>
                                        </svg>
                                        verified purchase
                                    </span>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-9">
                            <h3 class="h5">Awesome speakers!</h3>
                            <div class="d-inline-grid gap-auto-1 text-warning">
                                <!-- stars -->
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                            </div>
                            <p>I just bought them few weeks ago. The sound is awesome, is really 3D but what was more impressive is that you can hear the surroundings. So there is no risk to get killed by a car. :) Very good for kids!</p>
                            <div class="border-bottom border-light pb-4 mb-4">
                                <!-- user media -->
                                <h4 class="small mb-2 text-muted">Uploaded media</h4>
                                <div class="clearfix">
                                    <a class="photoswipe text-center float-start m-0" data-group="review-1" href="../demo.files/images/products/speakers/1_5-min.jpg">
                                        <img height="80" class="m-1 rounded" src="../demo.files/images/products/speakers/thumb/1_5-min.jpg" alt="...">
                                    </a>
                                    <a class="photoswipe text-center float-start m-0" data-group="review-1" href="../demo.files/images/products/speakers/1_4-min.jpg">
                                        <img height="80" class="m-1 rounded" src="../demo.files/images/products/speakers/thumb/1_2-min.jpg" alt="...">
                                    </a>
                                    <a class="photoswipe text-center float-start m-0" data-group="review-1" href="../demo.files/images/products/speakers/1_3-min.jpg">
                                        <img height="80" class="m-1 rounded" src="../demo.files/images/products/speakers/thumb/1_6-min.jpg" alt="...">
                                    </a>
                                </div>
                            </div>
                            <a href="#!" class="link-muted text-decoration-none d-inline-grid gap-auto-2">
                                <!-- helpful -->
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                    <path d="M512,304c0-12.821-5.099-24.768-13.888-33.579c9.963-10.901,15.04-25.515,13.653-40.725c-2.496-27.115-26.923-48.363-55.637-48.363H324.352c6.528-19.819,16.981-56.149,16.981-85.333c0-46.272-39.317-85.333-64-85.333c-22.144,0-37.995,12.48-38.656,12.992c-2.539,2.027-4.011,5.099-4.011,8.341v72.341L173.205,237.44l-2.539,1.301v-4.075c0-5.888-4.779-10.667-10.667-10.667H53.333C23.915,224,0,247.915,0,277.333V448c0,29.419,23.915,53.333,53.333,53.333h64c23.061,0,42.773-14.72,50.197-35.264C185.28,475.2,209.173,480,224,480h195.819c23.232,0,43.563-15.659,48.341-37.248c2.453-11.136,1.024-22.336-3.84-32.064c15.744-7.915,26.347-24.192,26.347-42.688c0-7.552-1.728-14.784-4.992-21.312C501.419,338.752,512,322.496,512,304z M467.008,330.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c5.419,5.099,8.427,11.968,8.427,19.307c0,13.461-10.176,24.768-23.637,26.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c7.019,6.613,9.835,15.893,7.723,25.451c-2.624,11.904-14.187,20.523-27.499,20.523H224c-17.323,0-46.379-8.128-56.448-18.219c-3.051-3.029-7.659-3.925-11.627-2.304c-3.989,1.643-6.592,5.547-6.592,9.856c0,17.643-14.357,32-32,32h-64c-17.643,0-32-14.357-32-32V277.333c0-17.643,14.357-32,32-32h96V256c0,3.691,1.92,7.125,5.077,9.088c3.115,1.877,7.04,2.069,10.368,0.448l21.333-10.667c2.155-1.067,3.883-2.859,4.907-5.056l64-138.667c0.64-1.408,0.981-2.944,0.981-4.48V37.781C260.437,35.328,268.139,32,277.333,32C289.024,32,320,61.056,320,96c0,37.547-20.437,91.669-20.629,92.203c-1.237,3.264-0.811,6.955,1.173,9.856c2.005,2.88,5.291,4.608,8.789,4.608h146.795c17.792,0,32.896,12.736,34.389,28.992c1.131,12.16-4.715,23.723-15.189,30.187c-3.264,2.005-5.205,5.632-5.056,9.493s2.368,7.317,5.781,9.088c9.024,4.587,14.613,13.632,14.613,23.573C490.667,317.461,480.491,328.768,467.008,330.325z"></path>
                                    <path d="M160,245.333c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667V256C170.667,250.112,165.888,245.333,160,245.333z"></path>
                                </svg>
                                <span class="small text-dashed">helpful <span class="fw-light">(32)</span></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- review -->
                <div class="border border-light rounded mb-4 p-4">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="avatar avatar-lg bg-gray-300 rounded-circle text-white"><i>JD</i></div>
                            <p class="text-gray-900">
                                <span class="d-block fw-medium">J. Dantas</span>
                                <span class="d-block small text-muted">about 3 weeks ago</span>
                                <span class="d-block small">
                                    <span class="text-success">
                                        <svg height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <polyline points="20 6 9 17 4 12"></polyline>
                                        </svg>
                                        verified purchase
                                    </span>
                                </span>
                            </p>
                        </div>
                        <div class="col-md-9">
                            <h3 class="h5">Good for gym</h3>
                            <div class="d-inline-grid gap-auto-1 text-warning">
                                <!-- stars -->
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                            </div>
                            <p>I go to gym 5 days a week, so I use them everyday! Very good quality, I recommend them!</p>
                            <a href="#!" class="link-muted text-decoration-none d-inline-grid gap-auto-2">
                                <!-- helpful -->
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                    <path d="M512,304c0-12.821-5.099-24.768-13.888-33.579c9.963-10.901,15.04-25.515,13.653-40.725c-2.496-27.115-26.923-48.363-55.637-48.363H324.352c6.528-19.819,16.981-56.149,16.981-85.333c0-46.272-39.317-85.333-64-85.333c-22.144,0-37.995,12.48-38.656,12.992c-2.539,2.027-4.011,5.099-4.011,8.341v72.341L173.205,237.44l-2.539,1.301v-4.075c0-5.888-4.779-10.667-10.667-10.667H53.333C23.915,224,0,247.915,0,277.333V448c0,29.419,23.915,53.333,53.333,53.333h64c23.061,0,42.773-14.72,50.197-35.264C185.28,475.2,209.173,480,224,480h195.819c23.232,0,43.563-15.659,48.341-37.248c2.453-11.136,1.024-22.336-3.84-32.064c15.744-7.915,26.347-24.192,26.347-42.688c0-7.552-1.728-14.784-4.992-21.312C501.419,338.752,512,322.496,512,304z M467.008,330.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c5.419,5.099,8.427,11.968,8.427,19.307c0,13.461-10.176,24.768-23.637,26.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c7.019,6.613,9.835,15.893,7.723,25.451c-2.624,11.904-14.187,20.523-27.499,20.523H224c-17.323,0-46.379-8.128-56.448-18.219c-3.051-3.029-7.659-3.925-11.627-2.304c-3.989,1.643-6.592,5.547-6.592,9.856c0,17.643-14.357,32-32,32h-64c-17.643,0-32-14.357-32-32V277.333c0-17.643,14.357-32,32-32h96V256c0,3.691,1.92,7.125,5.077,9.088c3.115,1.877,7.04,2.069,10.368,0.448l21.333-10.667c2.155-1.067,3.883-2.859,4.907-5.056l64-138.667c0.64-1.408,0.981-2.944,0.981-4.48V37.781C260.437,35.328,268.139,32,277.333,32C289.024,32,320,61.056,320,96c0,37.547-20.437,91.669-20.629,92.203c-1.237,3.264-0.811,6.955,1.173,9.856c2.005,2.88,5.291,4.608,8.789,4.608h146.795c17.792,0,32.896,12.736,34.389,28.992c1.131,12.16-4.715,23.723-15.189,30.187c-3.264,2.005-5.205,5.632-5.056,9.493s2.368,7.317,5.781,9.088c9.024,4.587,14.613,13.632,14.613,23.573C490.667,317.461,480.491,328.768,467.008,330.325z"></path>
                                    <path d="M160,245.333c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667V256C170.667,250.112,165.888,245.333,160,245.333z"></path>
                                </svg>
                                <span class="small text-dashed">helpful</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- review -->
                <div class="border border-light rounded mb-4 p-4">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="avatar avatar-lg bg-gray-300 rounded-circle text-white"><i>PC</i></div>
                            <p class="text-gray-900">
                                <span class="d-block fw-medium">P. Cole</span>
                                <span class="d-block small text-muted">about 2 weeks ago</span>
                            </p>
                        </div>
                        <div class="col-md-9">
                            <h3 class="h5">Too expensive</h3>
                            <div class="d-inline-grid gap-auto-1 text-warning">
                                <!-- stars -->
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m259.3 17.8-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6l-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m528.1 171.5-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0l-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zm-139.5 140.8 23.7 138.4-124.3-65.3-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2z"></path>
                                </svg>
                                <svg width="18px" height="18px" viewBox="0 0 576 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                    <path d="m528.1 171.5-146.1-21.3-65.3-132.4c-11.7-23.6-45.6-23.9-57.4 0l-65.3 132.4-146.1 21.3c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7l130.7-68.7 130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zm-139.5 140.8 23.7 138.4-124.3-65.3-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2z"></path>
                                </svg>
                            </div>
                            <p>The quality is great, but in my honest opinion, the price is to high! Are just speakers, for god sake! Anyway, good quality, again!</p>
                            <a href="#!" class="link-muted text-decoration-none d-inline-grid gap-auto-2">
                                <!-- helpful -->
                                <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">
                                    <path d="M512,304c0-12.821-5.099-24.768-13.888-33.579c9.963-10.901,15.04-25.515,13.653-40.725c-2.496-27.115-26.923-48.363-55.637-48.363H324.352c6.528-19.819,16.981-56.149,16.981-85.333c0-46.272-39.317-85.333-64-85.333c-22.144,0-37.995,12.48-38.656,12.992c-2.539,2.027-4.011,5.099-4.011,8.341v72.341L173.205,237.44l-2.539,1.301v-4.075c0-5.888-4.779-10.667-10.667-10.667H53.333C23.915,224,0,247.915,0,277.333V448c0,29.419,23.915,53.333,53.333,53.333h64c23.061,0,42.773-14.72,50.197-35.264C185.28,475.2,209.173,480,224,480h195.819c23.232,0,43.563-15.659,48.341-37.248c2.453-11.136,1.024-22.336-3.84-32.064c15.744-7.915,26.347-24.192,26.347-42.688c0-7.552-1.728-14.784-4.992-21.312C501.419,338.752,512,322.496,512,304z M467.008,330.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c5.419,5.099,8.427,11.968,8.427,19.307c0,13.461-10.176,24.768-23.637,26.325c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c7.019,6.613,9.835,15.893,7.723,25.451c-2.624,11.904-14.187,20.523-27.499,20.523H224c-17.323,0-46.379-8.128-56.448-18.219c-3.051-3.029-7.659-3.925-11.627-2.304c-3.989,1.643-6.592,5.547-6.592,9.856c0,17.643-14.357,32-32,32h-64c-17.643,0-32-14.357-32-32V277.333c0-17.643,14.357-32,32-32h96V256c0,3.691,1.92,7.125,5.077,9.088c3.115,1.877,7.04,2.069,10.368,0.448l21.333-10.667c2.155-1.067,3.883-2.859,4.907-5.056l64-138.667c0.64-1.408,0.981-2.944,0.981-4.48V37.781C260.437,35.328,268.139,32,277.333,32C289.024,32,320,61.056,320,96c0,37.547-20.437,91.669-20.629,92.203c-1.237,3.264-0.811,6.955,1.173,9.856c2.005,2.88,5.291,4.608,8.789,4.608h146.795c17.792,0,32.896,12.736,34.389,28.992c1.131,12.16-4.715,23.723-15.189,30.187c-3.264,2.005-5.205,5.632-5.056,9.493s2.368,7.317,5.781,9.088c9.024,4.587,14.613,13.632,14.613,23.573C490.667,317.461,480.491,328.768,467.008,330.325z"></path>
                                    <path d="M160,245.333c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667V256C170.667,250.112,165.888,245.333,160,245.333z"></path>
                                </svg>
                                <span class="small text-dashed">helpful</span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- pagination -->
                <div class="text-end">
                    <nav aria-label="Pagination">
                        <ul class="nav nav-pills nav-pills-sm nav-pills-invert">
                            <li class="nav-item">
                                <a class="nav-link px-3 px-3 disabled" href="#" tabindex="-1" aria-disabled="true">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-3" href="#">1</a></li>
                            <li class="nav-item" aria-current="page">
                                <a class="nav-link px-3 px-3 active" href="#">2</a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-3" href="#">3</a></li>
                            <li class="nav-item disabled">
                                <a class="nav-link px-3 px-3" href="#" tabindex="-1" aria-disabled="true">...</a>
                            </li>
                            <li class="nav-item"><a class="nav-link px-3" href="#">12</a></li>
                            <li class="nav-item">
                                <a class="nav-link px-3 px-3" href="#">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="fs-6 text-gray-500 mt-2">172 total reviews</p>
                </div>

            </div>
        </div>

    </div>
</section>
@code {

}
