  @page "/Service"
  <!-- performance -->
<section class="bg-gradient bg-dark text-white">
    <div class="container">

        <div class="mb-5">
            <!-- section : title -->
            <span class="d-inline-grid gap-auto-2">
                <span>PERFORMANCE</span>
                <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </span>

            <h2 class="display-3 fw-medium mb-4">Services</h2>
            <p class="fs-5 fw-light col-md-10 col-lg-8 mb-4">
                Atropos is a responsive multipurpose template, created to help you build new projects in no time! Clean, fast, simple!
            </p>
        </div>

        <div class="row g-4">
            <div class="col-md-4">

                <p class="mb-0 text-gray-500">Number of projects to date</p>
                <p class="display-5">3400+</p>

                <p class="mb-0 text-gray-500">Number of clients to date</p>
                <p class="display-5">890+</p>

            </div>

            <div class="col-md-4">

                <p class="mb-2 text-gray-500">Development &amp; Analysis</p>
                <p>We all know how important is our time, of course! We are everyday challenged to be creative, fast and productive!</p>
                <div class="d-inline-grid gap-auto-4 py-3">
                    <img height="25" src="../demo.files/svg/brands/fitbit.svg" alt="...">
                    <img height="25" src="../demo.files/svg/brands/hubspot.svg" alt="...">
                    <img height="25" src="../demo.files/svg/brands/embark.svg" alt="...">
                </div>

            </div>

            <div class="col-md-4">

                <div class="d-inline-grid gap-auto-3 position-relative">
                    <a href="#!" rel="noopener" class="lh-1 btn btn-secondary rounded-circle p-2 stretched-link">
                        <svg width="20px" height="20px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path fill-rule="evenodd" d="M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0v-6z"></path>
                        </svg>
                    </a>
                    <span>Learn More</span>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- services : intro -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-12 col-lg-6 mb-5">

                <div class="mb-5">
                    <!-- section : title -->
                    <span class="d-inline-grid gap-auto-2 text-primary">
                        <span>OUR SERVICES</span>
                        <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                        </svg>
                    </span>

                    <h2 class="h1">
                        <span class="text-primary">Strategies</span> that impact people's life!
                    </h2>
                </div>

                <p class="lead">
                    Answering those questions and more is a tall order, but one you should approach with enthusiasm. After all, this is the one place you can and should sing your own praises.  This is your opportunity to tell the world why your company is awesome. But you’ll need to do it tactfully, and that’s the tricky part.
                </p>

                <div class="py-4">
                    <a href="page-contact-classic.html" class="link-primary text-dashed border-primary py-2">
                        Get in touch with us
                    </a>
                </div>

            </div>

            <div class="col-12 col-lg-6 mb-5">

                <div class="card h-100 bg-cover overlay overlay-opacity-5 overflow-hidden jarallax d-flex align-items-center justify-content-center" style="background-image:url(../demo.files/images/unsplash/icons8-team-yTwXpLO5HAA-unsplash.jpg)">
                    <div class="text-center text-white p-5">

                        <blockquote class="blockquote">
                            <p class="lead">
                                Coming together is a beginning; keeping together is progress; working together is success.
                            </p>
                            <div class="blockquote-footer text-white">
                                <cite title="Henry Ford">Henry Ford</cite>
                            </div>
                        </blockquote>

                    </div>

                    <!-- dots pattern -->
                    <div class="bg-dots text-gray-400 position-absolute top-0 z-index-0 w-100 h-100 opacity-25"></div>

                </div>


                <div class="d-inline-grid gap-auto-3 py-3">
                    <img height="25" src="../demo.files/svg/brands/fitbit.svg" alt="...">
                    <img height="25" src="../demo.files/svg/brands/hubspot.svg" alt="...">
                    <img height="25" src="../demo.files/svg/brands/layar.svg" alt="...">
                </div>

            </div>

        </div>

    </div>
</section>
<!-- services : what we do -->
<section class="bg-gray-200">
    <div class="container">

        <div class="mb-5">
            <!-- section : title -->
            <span class="d-inline-grid gap-auto-2 text-primary">
                <span>WHAT WE DO</span>
                <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </span>

            <h2 class="h1">
                Quality services as habit
            </h2>
        </div>

        <div class="bg-white shadow-xs rounded overflow-hidden">
            <!-- shadow-xs -->

            <div class="row g-0">

                <!-- service -->
                <div class="col-12 col-md-6 col-lg-4">

                    <div class="card border-0 rounded-0 h-100">

                        <div class="card-body px-4">

                            <!-- title -->
                            <div class="py-4 mb-4 border-bottom">
                                <div class="d-inline-grid gap-auto-3">
                                    <img width="50" height="50" src="../demo.files/svg/icons/teamwork/007-puzzle.svg" alt="...">
                                    <h3 class="h5 m-0">Web Development</h3>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>Search Engine Optimization</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>Hight Quality</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>Modern Layout</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>CMS Platform</span>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer border-top">
                            <p class="text-muted mb-0">Mobile first, created to help you build new projects in no time! Clean, fast, simple!</p>
                        </div>

                    </div>

                </div>

                <!-- service -->
                <div class="col-12 col-md-6 col-lg-4">

                    <div class="card border-0 rounded-0 h-100">

                        <div class="card-body px-4">

                            <!-- title -->
                            <div class="py-4 mb-4 border-bottom">
                                <div class="d-inline-grid gap-auto-3">
                                    <img width="50" height="50" src="../demo.files/svg/icons/marketing/021-seo.svg" alt="...">
                                    <h3 class="h5 m-0">Search Engine Optimization</h3>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>Hight Quality</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>CMS Platform</span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="d-inline-grid gap-auto-3">
                                    <div class="badge bg-gray-200 rounded-circle p-2">
                                        <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                        </svg>
                                    </div>
                                    <span>Search Engine Optimization</span>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer border-top">
                            <p class="text-muted mb-0">Our SEO seniors are here for you and your business, helping you rank better.</p>
                        </div>

                    </div>

                </div>

                <!-- service -->
                <div class="col-12 col-md-12 col-lg-4">

                    <div class="card border-0 rounded-0 bg-light h-100">

                        <div class="card-body px-4">

                            <!-- title -->
                            <div class="py-4 mb-4 border-bottom">
                                <div class="d-inline-grid gap-auto-3">
                                    <img width="50" height="50" src="../demo.files/svg/icons/marketing/035-campaign-tweaking.svg" alt="...">
                                    <h3 class="h5 m-0">Custom Development</h3>
                                </div>
                            </div>

                            <p>
                                Let's talk how can help your business to be memorable for your customers!
                            </p>

                            <p>Your business success is a call away!</p>

                        </div>

                        <div class="card-footer border-top">
                            <p class="text-muted mb-0">Your success - a call away!</p>
                            <a href="tel:015555555" class="text-primary text-dashed border-primary py-1 stretched-link">
                                (+01) 555-5555
                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>



        <div class="mb-5 mt-7">
            <!-- section : title -->
            <span class="d-inline-grid gap-auto-2 text-primary">
                <span>VIA PARTNERS</span>
                <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                </svg>
            </span>

            <h2 class="h1">
                Additional services
            </h2>
        </div>


        <div class="row g-4">

            <!-- service -->
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card shadow-xs border-0 h-100">

                    <div class="card-body px-4">

                        <!-- title -->
                        <div class="py-4 mb-4 border-bottom">
                            <div class="d-inline-grid gap-auto-3">
                                <img width="50" height="50" src="../demo.files/svg/icons/marketing/030-idea.svg" alt="...">
                                <h3 class="h5 m-0">Business Consult</h3>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>Hight Quality</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>Modern Layout</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>CMS Platform</span>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer border-top">
                        <p class="text-muted mb-0">Mobile first, created to help you build new projects in no time! Clean, fast, simple!</p>
                    </div>

                </div>

            </div>

            <!-- service -->
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card shadow-xs border-0 h-100">

                    <div class="card-body px-4">

                        <!-- title -->
                        <div class="py-4 mb-4 border-bottom">
                            <div class="d-inline-grid gap-auto-3">
                                <img width="50" height="50" src="../demo.files/svg/icons/marketing/039-bug.svg" alt="...">
                                <h3 class="h5 m-0">Security</h3>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>Hight Quality</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>CMS Platform</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="d-inline-grid gap-auto-3">
                                <div class="badge bg-gray-200 rounded-circle p-2">
                                    <svg class="text-primary" width="18px" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                                    </svg>
                                </div>
                                <span>Search Engine Optimization</span>
                            </div>
                        </div>

                    </div>

                    <div class="card-footer border-top">
                        <p class="text-muted mb-0">Our SEO seniors are here for you and your business, helping you rank better.</p>
                    </div>

                </div>

            </div>

            <!-- service -->
            <div class="col-12 col-md-12 col-lg-4">

                <div class="card shadow-xs border-0 bg-light h-100">

                    <div class="card-body px-4">

                        <!-- title -->
                        <div class="py-4 mb-4 border-bottom">
                            <div class="d-inline-grid gap-auto-3">
                                <img width="50" height="50" src="../demo.files/svg/icons/marketing/047-interactive.svg" alt="...">
                                <h3 class="h5 m-0">Enterprise</h3>
                            </div>
                        </div>

                        <p>
                            Let's talk how can help your business to be memorable for your customers!
                        </p>

                        <p>Your business success is a call away!</p>

                    </div>

                    <div class="card-footer border-top">
                        <p class="text-muted mb-0">Your success - a call away!</p>
                        <a href="tel:015555555" class="text-primary text-dashed border-primary py-1 stretched-link">
                            (+01) 555-5555
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
