@page "/add-product"

<!-- Main content -->
<section class="content">
    <EditForm Model="product" Enhance OnValidSubmit="HandleSaveProduct">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">        
        <div class="col-md-6">
              
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Add Product</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    
                    <div class="form-group">
                        <label for="inputName">Product Name</label>
                        <InputText @bind-Value="product.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Product Description</label>
                        <InputTextArea @bind-Value="product.Description" class="form-control" rows="4"></InputTextArea>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Featured</label>
                            <InputSelect for="Featured" @bind-Value="product.Featured" class="form-control custom-select">                            
                                 <option value="true">True</option>
    <option value="false">False</option>
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <label for="Price">Price</label>
                            <InputNumber TValue="double" @bind-Value="price.Price1" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Quantity">Quantity</label>
                        <InputNumber TValue="int" @bind-Value="product.Quantity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Brand">Brand</label>
                            <InputSelect for="brandName" @bind-Value="product.BrandId" class="form-control custom-select">
                                <option value="">Select Brand</option>
                                @foreach (Brand brands in brand)
                                    {
                                        <option value="@brands.BrandId">@brands.BrandName</option>
                                    }
                                
                        </InputSelect>
                    </div>
                    <div class="form-group">
                            <label class="form label @(ImageUploadMessage == ""?"":"Text-danger")">
                              @(ImageUploadMessage ==""? "Upload Image" :ImageUploadMessage)
                        </label>
                        <div class="input-group">
                            <div class="custom-file">
                                    <InputFile class="custom-file-input" OnChange="UploadImage1" />
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputFile ">
                               Upload Image
                            </label>
                        <div class="input-group">
                            <div class="custom-file">
                                    <InputFile type="file" class="custom-file-input" OnChange="UploadImage2" />
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputFile">
                                Upoad Image
                            </label>
                        <div class="input-group">
                            <div class="custom-file">
                                    <InputFile type="file" class="custom-file-input" OnChange="UploadImage3" id="image3" />
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
              
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Detail</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="series">Series Laptop</label>
                            <InputText @bind-Value="detail.SeriesLaptop" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="PartNumber">Part Number</label>
                        <InputText @bind-Value="detail.PartNumber" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Color">Color</label>
                        <InputText @bind-Value="detail.Color" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="CPU">CPU</label>
                      <InputText @bind-Value="detail.CpuGeneration" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Screen">Screen</label>
                       <InputText @bind-Value="detail.Screen" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Storage">Storage</label>
                        <InputText @bind-Value="detail.Storage" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="ConnetorPort">Connetor Port</label>
                       <InputText @bind-Value="detail.ConnectorPort" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="Wireless">Wireless Connection</label>
                            <InputText @bind-Value="detail.WirelessConnection" class="form-control" />
                        </div>
                    <div class="form-group">
                        <label for="KeyBoard">Key board</label>
                            <InputText @bind-Value="detail.Keyboard" class="form-control" />
                        </div>
                     <div class="form-group">
                        <label for="OS">OS</label>
                            <InputText @bind-Value="detail.Os" class="form-control" />
                        </div>
                    <div class="form-group">
                        <label for="Size">Size</label>
                            <InputText @bind-Value="detail.Size" class="form-control" />
                        </div>
                     <div class="form-group">
                            <label for="Pin">Pin</label>
                            <InputText @bind-Value="detail.Pin" class="form-control" />
                          
                    </div>
                    <div class="form-group">
                            <label for="Weight">Weight</label>
                            <InputText @bind-Value="detail.Weight" class="form-control" />
                            
                    </div>                      
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
   
    </div>
        <div class="row">
            <div class="col-12">

                <input type="submit" value="Create new Product" class="btn btn-success float-right">
                
                <a href="/product-list" class="btn btn-secondary">Cancel</a>

            </div>
        </div>
    </EditForm>

 </section>

@code {
    public Product product { get; set; } = new();
    public Price price { get; set; } = new();
    public List<Brand> brand { get; set; } = new List<Brand> ();
    public Detail detail { get; set; } = new();
    string ImageUploadMessage = "";

    protected override async Task OnInitializedAsync()
    {
        brand = await brandService.GetAllBrands();
    }
    public IBrowserFile? file1;
    public async Task UploadImage1(InputFileChangeEventArgs e)
    {
        file1 = e.File;
        if (file1 != null)
        {
            ImageUploadMessage = "Image uploaded successfully";
        }
        else
        {
            ImageUploadMessage = "No file selected";
        }
    }
    public async Task<string> TaskSaveImage1()
    {
        if (file1 != null)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(file1.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)); // Giới hạn 10MB
            content.Add(fileContent,"file", file1.Name);
            var  response = await imageService.AddImage(content);
            return response;
        }
        else
        {
            return null!;
        }
    }
    public IBrowserFile file2;
    public async Task UploadImage2(InputFileChangeEventArgs e)
    {
        file2 = e.File;
        if (file2 != null)
        {
            ImageUploadMessage = "Image uploaded successfully";

        }
        else
            ImageUploadMessage = "Image upload failed";

    }
    //save image 2
    public async Task<string> TaskSaveImage2()
    {
        if (file2 != null)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(file2.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)); // Giới hạn 10MB
            content.Add(fileContent, "file", file2.Name);
            var response = await imageService.AddImage(content);
            return response;
        }
        else
        {
            return null!;
        }
    }
    public IBrowserFile file3;
    public async Task UploadImage3(InputFileChangeEventArgs e)
    {
        file3 = e.File;
        if (file3 != null)
        {
            ImageUploadMessage = "Image uploaded successfully";
        }
        else
            ImageUploadMessage = "Image upload failed";

    }
    //save image 3
    public async Task<string> TaskSaveImage3()
    {
        if (file3 != null)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(file3.OpenReadStream(maxAllowedSize: 10 * 1024 * 1024)); // Giới hạn 10MB
            content.Add(fileContent, "file", file3.Name);
            var response = await imageService.AddImage(content);
            return response;
        }
        else
        {
            return null!;
        }
    }

    public async Task HandleSaveProduct()
    {      
        product.Image1 = await TaskSaveImage1();
        product.Image2 = await TaskSaveImage2();
        product.Image3 = await TaskSaveImage3();
        var addProductDto = new AddProductDTO
            {
                Product = product,
                Detail = detail,
                Price = price
            };
    
        var (flag, message) = await ClientService.AddProduct(addProductDto);
        if (flag)
        {
            Navigation.NavigateTo("/product-list");
        }
        else
        {
            return;
        }
        
    }

}