@page "/Cart"   
<!-- Page title -->
<section class="py-6">
    <div class="container">

        <h1 class="h2 mb-0">Shopping Cart</h1>
        <a href="#!" class="link-primary text-decoration-none">
            <span>continue shopping</span>
            <svg class="transform-flip-x-rtl" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
            </svg>
        </a>

    </div>
</section>



<section class="pt-0">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 mb-5">

                <!-- cart item -->
                <div class="position-relative overflow-hidden border border-light rounded shadow-xs p-4 mb-4">

                    <!-- remove from cart -->
                    <a href="#!" class="btn btn-danger btn-soft p-2 rounded-0 position-absolute top-0 end-0">
                        <svg height="16px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </a>

                    <div class="row g-3 py-2 align-items-center">
                        <div class="col-4 col-md-2">
                            <div class="ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/thumb/7-min.jpg" alt="...">
                                </span>
                            </div>
                        </div>
                        <div class="col-8 col-md-6">
                            <a href="#!" class="link-secondary text-decoration-none fw-medium">Sport Jabra Elite 75T</a>
                            <small class="d-block text-muted">Unit Price: $32.99 </small>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row g-3">
                                <div class="col-4 col-sm-6 col-lg-5 text-center">
                                    <input type="number" class="form-control form-control-sm text-center px-2" min="0" max="9999" value="1">
                                    <small class="d-block text-muted mt-1">16 in stock</small>
                                </div>
                                <div class="col-8 col-sm-6 col-lg-7 text-md-end">
                                    <p class="text-weight-muted mb-0">
                                        <span class="fw-medium">$32.99</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- cart item -->
                <div class="position-relative overflow-hidden border border-light rounded shadow-xs p-4 mb-4">

                    <div class="row g-3 py-2 align-items-center">
                        <div class="col-4 col-md-2">
                            <div class="ratio ratio-1x1">
                                <span class="d-flex justify-content-center align-items-center">
                                    <img class="h-100" src="../demo.files/images/products/speakers/thumb/9-min.jpg" alt="...">
                                </span>
                            </div>
                        </div>
                        <div class="col-8 col-md-6">
                            <a href="#!" class="link-secondary text-decoration-none fw-medium">Audiophile sport wireless react</a>
                            <small class="d-block text-muted">Unit Price: $58.99 </small>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#!" class="text-decoration-none"><small>Delete</small></a></li>
                                <li class="list-inline-item"><a href="#!" class="text-decoration-none"><small>Save for later</small></a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row g-3">
                                <div class="col-4 col-sm-6 col-lg-5 text-center">
                                    <input type="number" class="form-control form-control-sm text-center px-2" min="0" max="9999" value="1">
                                    <small class="d-block text-muted mt-1">21 in stock</small>
                                </div>
                                <div class="col-8 col-sm-6 col-lg-7 text-md-end">
                                    <p class="text-weight-muted mb-0">
                                        <del class="fw-normal text-muted">$98.99</del>
                                        <span class="fw-medium">$58.99</span>
                                        <small class="d-block text-success d-block mb-2">You save: $40.00</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- gift -->
                    <div class="row g-3 mt-sm-n4 mt-lg-n4 mb-4">
                        <div class="col-12 col-md-10 offset-md-2">
                            <!--
                                              <div class="border-top border-light pt-4 mt-4 mt-lg-3">
                                                <span class="d-inline-grid gap-auto-2 fw-medium">
                                                  <svg height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <polyline points="20 12 20 22 4 22 4 12"></polyline>
                                                    <rect x="2" y="7" width="20" height="5"></rect>
                                                    <line x1="12" y1="22" x2="12" y2="7"></line>
                                                    <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                                                    <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                                                  </svg>
                                                  <span>Your Gift</span>
                                                </span>
                                                <div class="d-flex align-items-center">
                                                  <img height="44" class="flex-none" src="../demo.files/images/products/speakers/gift-min.jpg" alt="...">
                                                  <small class="d-block w-100 px-3">
                                                    <a href="#!" class="link-secondary text-decoration-none">1 &times; Speaker bag, limited edition.</a>
                                                    <span class="d-block">Gift value: $16.00</span>
                                                  </small>
                                                </div>
                                              </div> -->

                        </div>
                    </div>

                </div>

            </div>

            <!-- order summary -->
            <div class="col-lg-4 mb-5">

                <div class="rounded shadow-xs p-4 text-gray-800">

                    <h2 class="h5 border-bottom border-light mb-4 pb-4 text-dark">
                        Order Summary
                    </h2>

                    <div class="clearfix mb-3">
                        Subtotal: <span class="float-end fw-medium">$161.98</span>
                    </div>

                    <div class="clearfix mb-3">
                        Shipping: <span class="float-end fw-medium text-success">Free</span>

                        <div class="px-2">
                            <div class="form-check mt-3">
                                <input class="form-check-input form-check-input-primary" name="shipping" type="radio" value="" id="shipping-1" checked>
                                <label class="form-check-label user-select-none" for="shipping-1">
                                    Free &ndash; standard delivery
                                    <small class="d-block text-muted">5-8 business days</small>
                                </label>
                            </div>
                            <div class="form-check mt-3">
                                <input class="form-check-input form-check-input-primary" name="shipping" type="radio" value="" id="shipping-2">
                                <label class="form-check-label user-select-none" for="shipping-2">
                                    $10.99 &ndash; express delivery
                                    <small class="d-block text-muted">2-3 business days</small>
                                </label>
                            </div>
                        </div>

                    </div>

                    <hr class="my-4">

                    <div class="clearfix">
                        Estimated taxes: <span class="float-end fw-medium">&ndash;</span>
                    </div>

                    <div class="clearfix mb-3 fw-medium">
                        Total: <span class="float-end fw-medium">$161.98</span>
                    </div>

                    <div class="d-grid my-4">
                        <a href="/Checkout" class="btn btn-primary">
                            <span>Checkout</span>
                            <svg class="transform-flip-x-rtl" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                            </svg>
                        </a>
                    </div>

                    <a href="#coupon" data-bs-toggle="collapse" class="text-decoration-none d-inline-grid gap-auto-2 link-muted">
                        <span class="group-switch">
                            <svg class="transform-flip-x-rtl" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"></path>
                                <path fill-rule="evenodd" d="M5.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"></path>
                            </svg>
                            <svg class="transform-flip-x-rtl" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
                            </svg>
                        </span>
                        <span>Coupon / Gift Card</span>
                    </a>

                    <form id="coupon" method="post" action="#" class="collapse">
                        <div class="input-group my-3">
                            <input type="email" class="form-control form-control-sm shadow-none" placeholder="coupon / gift card" aria-label="coupon / gift card" aria-describedby="button-subscribe">
                            <button type="submit" class="btn btn-sm btn-warning text-gray-700 shadow-none" id="button-subscribe">
                                Add
                            </button>
                        </div>
                    </form>
                </div>

                <!-- help/chat trigger -->
                <div class="py-3 text-end">
                    <p class="d-inline-grid gap-auto-3">
                        <span class="text-gray-600">
                            Need help? <a href="#!" class="link-secondary text-dashed">Chat with us</a>
                        </span>
                        <svg class="text-gray-500" height="28px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.052 512.052" fill="currentColor">
                            <path d="M208.026,16.026c-114.7,0-208,78.9-208,176c0,39.8,15.7,77.9,44.5,108.9l-39.8,39.8c-4.6,4.6-6,11.5-3.5,17.4c2.5,6,8.3,9.9,14.8,9.9h192c114.7,0,208-78.9,208-176S322.726,16.026,208.026,16.026z" />
                            <path opacity="0.5" d="M467.526,428.926c28.8-30.9,44.5-69.1,44.5-108.9c0-49.8-24.6-94.9-64-126.9c-0.9,114.1-108.2,206.9-240,206.9h-89.2c34.5,56.9,104.6,96,185.2,96h192c6.5,0,12.3-3.9,14.8-9.9c2.5-6,1.1-12.9-3.5-17.4L467.526,428.926z" />
                            <path fill="#ffffff" d="M304.026,144.026h-192c-8.8,0-16,7.2-16,16s7.2,16,16,16h192c8.8,0,16-7.2,16-16S312.826,144.026,304.026,144.026z" />
                            <path fill="#ffffff" d="M240.026,208.026h-128c-8.8,0-16,7.2-16,16s7.2,16,16,16h128c8.8,0,16-7.2,16-16S248.826,208.026,240.026,208.026z" />
                        </svg>
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>

@code {

}
