@inherits LayoutComponentBase

<NavBar  />
<!--  -->
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        @Body
                    </div>
                </section>
            </div>
<Footer />
@code {
  
}

