@inherits LayoutComponentBase

<!-- best deals -->
<NavBar />
<!-- products -->
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        @Body
                    </div>
                </section>
            </div>
<Footer />
@code {

}

