
<!-- best deals -->

<section>
    <div class="container">

        <div class="mb-5">
            <div class="d-inline-block text-start">
                <span class="d-inline-grid gap-auto-2 text-primary">
                    <span>BEST DEALS</span>
                    <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                    </svg>
                </span>
                <h2 class="mb-0"><b>30% OFF</b> this week</h2>
            </div>
        </div>

        <!-- product list -->
        <div class="row g-1 g-md-4">

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/1-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Sport Speakers CX</a>
                        <div class="d-block">
                            <del class="text-muted fw-normal">$76.99</del>
                            <span class="text-dark fw-medium">$56.99</span>
                        </div>
                    </div>
                    <!-- badge -->
                    <div class="position-absolute top-0 start-0 p-3 z-index-1 text-start">
                        <span class="badge bg-success rounded-pill fw-normal">New arrival</span>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/2-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Audiophile Pioneer SRR</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$18.99</span>
                        </div>
                    </div>
                    <!-- badge -->
                    <div class="position-absolute top-0 start-0 p-3 z-index-1 text-start">
                        <span class="badge bg-danger rounded-pill fw-normal">sold out</span>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/3-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Sport Jabra Elite 75T</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$32.99</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/4-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Speakers Klipsch RSB-6</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$22.99</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/5-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Senheiser CX.88T</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$78.99</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/6-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">Audio Tehnics Hi-FI</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$43.99</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/7-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">On-Ear Bluetooth 2.0</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$12.99</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-3">
                <div class="card h-100 shadow-xs-secondary transition-top-hover transition-reveal-hover">
                    <figure class="ratio ratio-1x1">
                        <span class="d-flex justify-content-center align-items-center">
                            <img class="rounded-top h-100" src="../demo.files/images/products/speakers/8-min.jpg" alt="...">
                        </span>
                    </figure>
                    <div class="card-body py-4">
                        <a href="shop-product-single.html" class="text-decoration-none stretched-link text-gray-700">PC/Gaming Audio Tehnics</a>
                        <div class="d-block">
                            <span class="text-dark fw-medium">$31.99</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@code {

}
