 <!-- sidebar -->

<div class="col-sm-12 col-md-12 col-lg-3">

    <div class="mb-5">
        <h3 class="h6">Availability</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-stock">
            <label class="form-check-label" for="filter-stock">
                In Stock
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-promotions">
            <label class="form-check-label" for="filter-promotions">
                Promotions
            </label>
        </div>
    </div>

    <div class="mb-5">
        <h3 class="h6">Price</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-25">
            <label class="form-check-label" for="filter-price-25">
                Under $25
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-25-50">
            <label class="form-check-label" for="filter-price-25-50">
                25 - 50
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-50-100">
            <label class="form-check-label" for="filter-price-50-100">
                50 - 100
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-100-500">
            <label class="form-check-label" for="filter-price-100-500">
                100 - 500
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-500">
            <label class="form-check-label" for="filter-price-500">
                500 &amp; Above
            </label>
        </div>
    </div>

    <div class="mb-5">
        <h3 class="h6">Brand</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-1">
            <label class="form-check-label" for="filter-brand-1">
                DELL
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-2">
            <label class="form-check-label" for="filter-brand-2">
                Lenovo
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-3">
            <label class="form-check-label" for="filter-brand-3">
                ASUS
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-4">
            <label class="form-check-label" for="filter-brand-4">
                ACER
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-5">
            <label class="form-check-label" for="filter-brand-5">
                HP
            </label>
        </div>

        <div id="brands-more" class="collapse">
            <div class="form-check user-select-none mb-2">
                <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-6">
                <label class="form-check-label" for="filter-brand-6">
                    MACBOOK
                </label>
            </div>
            <div class="form-check user-select-none mb-2">
                <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-7">
                <label class="form-check-label" for="filter-brand-7">
                    MSI
                </label>
            </div>
        </div>

        <a href="#brands-more" data-bs-toggle="collapse" class="text-decoration-none text-muted">
            <span class="group-switch">
                <span>view more (2)</span>
                <span>view less (2)</span>
            </span>
        </a>
    </div>
</div>
@code{

}
