          <!-- sidebar -->

<div class="col-sm-12 col-md-12 col-lg-3">

    <!-- Categories -->
    <!-- <div class="mb-5 px-3 py-4 bg-gray-200 rounded">

      <ul class="nav-deep p-0 m-0">

        <li class="nav-deep-item">

          <a class="nav-deep-link" href="#nav-sidebar-components" data-bs-toggle="collapse" aria-expanded="true">
            <span class="fw-medium">Speakers</span>
          </a>

          <ul id="nav-sidebar-components" class="nav-deep collapse show">
            <li class="nav-deep-item"><a class="nav-deep-link active" href="#!">Portable</a></li>
            <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Sport</a></li>
            <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Gifts</a></li>
            <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Accessories</a></li>
          </ul>

        </li>
        <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Home Amplifiers</a></li>
        <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Car Speakers</a></li>
        <li class="nav-deep-item"><a class="nav-deep-link" href="#!">Car Speakers</a></li>

      </ul>

    </div> -->

    <div class="mb-5">
        <h3 class="h6">Availability</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-stock">
            <label class="form-check-label" for="filter-stock">
                In Stock
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-promotions">
            <label class="form-check-label" for="filter-promotions">
                Promotions
            </label>
        </div>
    </div>

    <div class="mb-5">
        <h3 class="h6">Price</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-25">
            <label class="form-check-label" for="filter-price-25">
                Under $25
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-25-50">
            <label class="form-check-label" for="filter-price-25-50">
                25 - 50
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-50-100">
            <label class="form-check-label" for="filter-price-50-100">
                50 - 100
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-100-500">
            <label class="form-check-label" for="filter-price-100-500">
                100 - 500
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-price-500">
            <label class="form-check-label" for="filter-price-500">
                500 &amp; Above
            </label>
        </div>
    </div>

    <!-- <div class="mb-5">
      <h3 class="h6">Size</h3>
      <div class="form-check user-select-none mb-2">
        <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-size-xs">
        <label class="form-check-label" for="filter-size-xs">
          XS
        </label>
      </div>
      <div class="form-check user-select-none mb-2">
        <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-size-xl" checked="">
        <label class="form-check-label" for="filter-size-xl">
          XL
        </label>
      </div>
      <div class="form-check user-select-none mb-2">
        <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-size-xxs">
        <label class="form-check-label" for="filter-size-xxs">
          XXS
        </label>
      </div>
    </div> -->

    <div class="mb-5">
        <h3 class="h6">Brand</h3>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-1">
            <label class="form-check-label" for="filter-brand-1">
                DELL
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-2">
            <label class="form-check-label" for="filter-brand-2">
                Lenovo
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-3">
            <label class="form-check-label" for="filter-brand-3">
                ASUS
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-4">
            <label class="form-check-label" for="filter-brand-4">
                ACER
            </label>
        </div>
        <div class="form-check user-select-none mb-2">
            <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-5">
            <label class="form-check-label" for="filter-brand-5">
                HP
            </label>
        </div>

        <div id="brands-more" class="collapse">
            <div class="form-check user-select-none mb-2">
                <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-6">
                <label class="form-check-label" for="filter-brand-6">
                    MACBOOK
                </label>
            </div>
            <div class="form-check user-select-none mb-2">
                <input class="form-check-input form-check-input-default" type="checkbox" value="" id="filter-brand-7">
                <label class="form-check-label" for="filter-brand-7">
                    MSI
                </label>
            </div>
        </div>

        <a href="#brands-more" data-bs-toggle="collapse" class="text-decoration-none text-muted">
            <span class="group-switch">
                <span>view more (2)</span>
                <span>view less (2)</span>
            </span>
        </a>
    </div>

</div>
