@page "/account-password"
@using Web_Ecommerce_Cilent.Layout.Customer
<NavBar />
<!-- Page title -->
    <section class="py-6 bg-gray-200 text-center">
      <div class="container">

        <span class="d-inline-grid gap-auto-2 text-primary">
          <span>Account</span>
          <svg class="transform-flip-x-rtl" height="18px" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">  
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
          </svg>
        </span>

        <h1 class="display-4 fw-bold">Password</h1>

      </div>
    </section>


    <!-- svg : divier -->
    <div class="divider-point-b bg-gray-200 mt-n4"></div>


    <!-- account -->
    <section>
      <div class="container">

        <div class="row">
          <div class="col-sm-8 col-md-6 col-lg-5 mx-auto">

            <form class="form-validate" method="POST" action="#">

              <!-- info -->
              <p class="text-muted lead">A reset link is sent to your email address.</p>

              <!-- email address -->
              <div class="form-floating mb-4">
                <input required type="email" class="form-control" id="account_email" placeholder="Email address">
                <label for="account_email">Email address</label>
              </div>

              <!-- submot button -->
              <div class="d-grid mb-4">
                <button type="submit" class="btn btn-primary">
                  <span>Reset</span>
                  <svg class="transform-flip-x-rtl" height="18px" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                  </svg>
                </button>
              </div>

            </form>

            <!-- back to login -->
            <div class="text-center">
              <a href="account-signin-classic.html" class="link-muted">
                <span>back to sign in</span>
              </a>
            </div>

          </div>
        </div>

      </div>
    </section>